body {
    margin: 0px;
    padding: 0px;
  }
  .main {
    margin: 20px;
  }
  img{
      max-width: 100%;
  }
  p{
      text-align: left;
      padding-top: 20px;
      margin: 0px;
  }
  .navbar{
      background: green;
      height: 120px;
  }
  .navbar p{
    margin-left: 10%;
      margin-right: 10%;

  }
  .contenido{
      margin-left: 10%;
      margin-right: 10%;
  }
  .box{
    /* border: 2px solid #808080;
    height: 100px; */
    text-align: center;
  }
  .box__1{
      width: 250px;
      height: 600px;
      padding: 5px 30px;
      margin: 0px 15px;
      background: white;
      display: inline-block

  }
  .box__2{
    width: 250px;
      height: 600px;
      padding: 5px 30px;
      margin: 0px 15px;
      background: white;
      display: inline-block

  }
  .box__3{
    width: 250px;
      height: 600px;
      margin: 0px 15px;
      padding: 5px 30px;
      background: white;
      display: inline-block

  }
  .box__4{
    width: 250px;
      height: 600px;
      margin: 0px 15px;
      padding: 5px 30px;
      background: white;
      display: inline-block

  }